<div class="container">
    <div class="row">
        <div class="rel col-lg-10 bhoechie-tab-container">
            <div class="rel col-lg-1 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2015
                </a>
                <a href="#"  class="list-group-item text-center" onclick="             
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2016
                </a>
                <a href="#"  class="list-group-item active text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2017
                </a>
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2018
                </a>
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2019
                </a>
              </div>
            </div>
            <div class="rel col-lg-11  bhoechie-tab">
                <div class="bhoechie-tab-content">
                    <div class="row">
                            <div class="page">
                                <div class="metr">
                                             <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style=""></span>
                                                 <span class="metro-type" style="">1042-S</span>
                                                 <span class="metro-date" style="">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             
                                             <a style="cursor: pointer" class="metrostyle   boometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">8027</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                             <a class="metrostyle reemetro" style="cursor: pointer" href="/form/show">
                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                </div>
                                <div class="metr">
                                               
                                                <a style="cursor: pointer" class="metrostyle  reemetro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                              <a style="cursor: pointer" class="metrostyle   toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle yoometro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                               
                                               <a style="cursor: pointer" class="metrostyle  toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle  orgmetro"  href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                </div>
                                 <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                    </div>
                                    <div class="metr">          
                                                 <a style="cursor: pointer" class="metrostyle  boometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">8027</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                    </div>
                                </div> 
                        </div>
                </div>
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                            <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                            <div class="metr">
                                             <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style=""></span>
                                                 <span class="metro-type" style="">1042-S</span>
                                                 <span class="metro-date" style="">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             
                                             <a style="cursor: pointer" class="metrostyle   boometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">8027</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                             <a class="metrostyle reemetro" style="cursor: pointer" href="/form/show">
                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content active">
                    <div class="row">
                        <div class="page">
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <%= link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                   <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                   <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: '', :remote => true do %>
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                   <% end %>
                                   <%= link_to controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id, {class: 'metrostyle orgmetro'} do %>
                                                 <span class="metro-icon fa fa-file" style=""></span>
                                                 <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                 <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>
                                   <% end %>

                            <% end %>
                                             <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style=""></span>
                                                 <span class="metro-type" style="">1042-S</span>
                                                 <span class="metro-date" style="">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             
                                             <a style="cursor: pointer" class="metrostyle   boometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">8027</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                             <a class="metrostyle reemetro" style="cursor: pointer" href="/form/show">
                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                                             <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">

                                                 <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                 <span class="metro-type">3922</span>
                                                 <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                             </a>
                            </div>
                            <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                            <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                            <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                            <div class="metr">
                                               
                                                <a style="cursor: pointer" class="metrostyle  reemetro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                              <a style="cursor: pointer" class="metrostyle   toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle yoometro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                               
                                               <a style="cursor: pointer" class="metrostyle  toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle  orgmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                            <div class="metr">
                                               
                                                <a style="cursor: pointer" class="metrostyle  reemetro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                              <a style="cursor: pointer" class="metrostyle   toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle yoometro" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                               
                                               <a style="cursor: pointer" class="metrostyle  toometro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a style="cursor: pointer" class="metrostyle  orgmetro"  href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">3922</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                            <div class="metr">                          
                                                <a style="cursor: pointer" class="metrostyle eenmetro" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                                    <span class="metro-type">fw2g</span>   
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                 <a class="metrostyle yoometro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                <a class="metrostyle eenmetro" style="cursor: pointer" href="/form/show">

                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">8027</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                                                <a class="metrostyle  reemetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                                    <span class="metro-type">1042-S</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC </span>
                                                </a>
                                                 <a class="metrostyle orgmetro" style="cursor: pointer" href="/form/show">
                                                    <span class="metro-icon fa fa-file" style=""></span>
                                                    <span class="metro-type">13</span>
                                                    <span class="metro-date">2017-07-04 18:16:08 UTC</span>
                                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
    
<style>

span.metro-icon {
    font-size: 2em;
    color: white;
    padding-left: 3px;
    padding-right: 27px;
    margin-top: 3px;
    float: left;
    display: block;
    width: 100%;
}
span.metro-type {
   color: white;
    font-size: 1.8em;
    float: left;
    margin-top: 9px;
    padding-left: 3px;
}
span.metro-date {
    color: white;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 7px;
    font-size: 10px;
}
</style>