<div class="container">
    <div class="row">
        <div class="rel col-lg-9 bhoechie-tab-container">
            <div class="rel col-lg-1 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2015
                </a>
                <a href="#"  class="list-group-item text-center" onclick="             
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2016
                </a>
                <a href="#"  class="list-group-item active text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2017
                </a>
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2018
                </a>
                <a href="#"  class="list-group-item text-center" onclick="
        event.preventDefault();
        $(this).siblings('a.active').removeClass('active');
        $(this).addClass('active');
        var index = $(this).index();
        $('div.bhoechie-tab>div.bhoechie-tab-content').removeClass('active');
        $('div.bhoechie-tab>div.bhoechie-tab-content').eq(index).addClass('active');">
                  2019
                </a>
              </div>
            </div>
            <div class="rel col-lg-11  bhoechie-tab">
              <div class="bhoechie-tab-content">
                <div class="row">
                        <div class="page">
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <% if (submission.updated_at.year == 2015) %>
                                        <%# link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                         <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                         
                                         <%= link_to({controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id}, {class: 'metrostyle metro'+submission.form_id.to_s}) do %>
                                                       <span class="metro-icon fa fa-file" style=""></span>
                                                       <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                       <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>      
                                         <% end %>
                                         <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete_link', :remote => true do %>
                                                            <i class="fa fa-times-circle faa-vertical animated-hover" aria-hidden="true"></i> 
                                        <% end %>
                                  <% end %>

                                <% end %>
                                             
                                             
                            </div><!-- 1-->
                        </div><!-- 2-->
                    </div><!-- 3-->
                </div><!-- 4-->
                <!-- train section -->
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <% if (submission.updated_at.year == 2016) %>
                                        <%# link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                         <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                         
                                         <%= link_to({controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id}, {class: 'metrostyle metro'+submission.form_id.to_s}) do %>
                                                       <span class="metro-icon fa fa-file" style=""></span>
                                                       <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                       <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>      
                                         <% end %>
                                         <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete_link', :remote => true do %>
                                                            <i class="fa fa-times-circle faa-vertical animated-hover" aria-hidden="true"></i> 
                                        <% end %>
                                  <% end %>

                                <% end %>
                                             
                                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content active">
                    <div class="labels-container">
                      <% @labels.each do |label| %>
                            <div class="m-label"><div style='background:<%= label[1]%>' class="square-box"></div><div class="square-label"> <%= label[0] %></div></div>
                      <% end %>
                            
                    </div>
                    <div class="row">
                        
                        <div class="page">
                          
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <% if (submission.updated_at.year == 2017) %>
                                        <%# link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                         <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                         
                                         <%= link_to({controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id}, {class: 'metrostyle', style: 'background:'+ submission.labelcolor.to_s}) do %>
                                                       <span class="metro-icon fa fa-file" style=""></span>
                                                       <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                       <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>      
                                         <% end %>
                                         <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete_link', :remote => true do %>
                                                            <i class="fa fa-times-circle faa-vertical animated-hover" aria-hidden="true"></i> 
                                        <% end %>
                                  <% end %>

                                <% end %>
                                             
                                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <% if (submission.updated_at.year == 2018) %>
                                        <%# link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                         <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                         
                                         <%= link_to({controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id}, {class: 'metrostyle metro'+submission.form_id.to_s}) do %>
                                                       <span class="metro-icon fa fa-file" style=""></span>
                                                       <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                       <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>      
                                         <% end %>
                                         <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete_link', :remote => true do %>
                                                            <i class="fa fa-times-circle faa-vertical animated-hover" aria-hidden="true"></i> 
                                        <% end %>
                                  <% end %>

                                <% end %>
                                             
                                             
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bhoechie-tab-content">
                    <div class="row">
                        <div class="page">
                           <div class="metr">
                                <% @submissions.each do |submission| %>
                                  <% if (submission.updated_at.year == 2019) %>
                                        <%# link_to 'Form '+submission.form_id.to_s+' submitted at '+submission.updated_at.to_s, controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id %>
                                         <%# link_to 'delete form', controller: "forms", action: "destroy", unique_id: submission.unique_id, class: 'delete_link' %>
                                         
                                         <%= link_to({controller: "forms", action: "show", unique_id: submission.unique_id, formname: submission.form_id}, {class: 'metrostyle metro'+submission.form_id.to_s}) do %>
                                                       <span class="metro-icon fa fa-file" style=""></span>
                                                       <span class="metro-type" style=""><%= submission.form_id.to_s %></span>
                                                       <span class="metro-date" style=""><%= submission.updated_at.to_s %></span>      
                                         <% end %>
                                         <%= link_to '/form/'+submission.unique_id, method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete_link', :remote => true do %>
                                                            <i class="fa fa-times-circle faa-vertical animated-hover" aria-hidden="true"></i> 
                                        <% end %>
                                  <% end %>

                                <% end %>
                                             
                                             
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
  </div>
</div>
    
<style>
span.metro-icon {
    font-size: 2em;
    padding-left: 57px;
    padding-right: 27px;
    margin-top: 3px;
    float: left;
    display: block;
    width: 100%;
    visibility:hidden;
}
span.metro-type {
    font-size: 1.6em;
    float: left;
    margin-top: 4px;
    padding-left: 9px;
}
span.metro-date {
    float: left;
    margin-top: 18px;
    margin-left: 11px;
    margin-right: 7px;
    font-size: 13px;
}
.m-label {
    float: left;
    padding: 15px;
}
.labels-container {
    clear: both;
    width: 100%;
    display: inline-flex;
}
.square-box {
    width: 13px;
    height: 15px;
    background: #9393b1;
    float: left;
    /* vertical-align: top; */
    margin-top: 3px;
    margin-right: 3px;
}
.square-label {
    float: left;
    padding-top: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
}
</style>