<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099g">
                                   <img width="100%" src="/media/1099g.png" />


                                    <!-- fields -->
                                    <input class="abs" style="top: 13%;left: 1.5%;width: 45%;height: 21%;" name="payers__name_address" value="<%= @form_fields['payers__name_address']%>" type="text">
                                    <input class="abs" style="top: 38.4%;left: 1.5%;width: 22%;height: 5%;" name="payers_fin" value="<%= @form_fields['payers_fin']%>" type="text">
                                    <input class="abs" style="top: 38.3%;left: 24.3%;width: 22%;height: 5%;" name="recipients_id" value="<%= @form_fields['recipients_id']%>" type="text">
                                    <input class="abs" style="top: 48.3%;left: 1.5%;width: 45%;height: 10%;" name="recipients_name" value="<%= @form_fields['recipients_name']%>" type="text">
                                    <input class="abs" style="top: 63%;left: 1.5%;width: 45%;height: 5%;" name="street_address" value="<%= @form_fields['street_address']%>" type="text">
                                    <input class="abs" style="top: 72.5%;left: 1.5%;width: 45%;height: 5%;" name="city_town_state" value="<%= @form_fields['city_town_state']%>" type="text">
                                    <input class="abs" style="top: 82.4%;left: 1.5%;width: 45%;height: 5%;" name="account_number" value="<%= @form_fields['account_number']%>" type="text">
                                    
                                    <input class="abs" style="top: 10%;left: 48.5%;width: 17%;height: 9%;" name="1" value="<%= @form_fields['1']%>" type="text">
                                    <input class="abs" style="top: 28%;left: 48.5%;width: 17%;height: 5%;" name="2" value="<%= @form_fields['2']%>" type="text">
                                    <input class="abs" style="top: 38.5%;left: 48%;width: 17%;height: 5%;" name="3" value="<%= @form_fields['3']%>" type="text">
                                    <input class="abs" style="top: 38.5%;left: 67.5%;width: 17%;height: 5%;" name="4" value="<%= @form_fields['4']%>" type="text">
                                    <input class="abs" name="5" value="<%= @form_fields['5']%>" style="top: 48.5%;left: 48.5%;width: 17%;height: 5%;" type="text">
                                    <input class="abs" style="top: 48.5%;left: 67.5%;width: 17%;height: 5%;" name="6" value="<%= @form_fields['']%>" type="text">
                                    <input class="abs" name="7" value="<%= @form_fields['7']%>" style="top: 58%;left: 48.5%;width: 17%;height: 5%;" type="text">

                             <input name="8" value="unchecked" type="hidden">
                            <input class="abs" style="top: 59.3%;left: 82.1%;" name="8" <%= @form_fields['8']%> value="checked" type="checkbox">


                                    <input class="abs" name="9" value="<%= @form_fields['9']%>" style="top: 67.5%;left: 48.5%;width: 17%;height: 5%;" type="text">
                                    <input class="abs" name="10a" value="<%= @form_fields['10a']%>" style="top: 77.5%;left: 47%;width: 7.5%;height: 5%;" type="text">
                                    <input class="abs" name="10b" value="<%= @form_fields['10b']%>" style="top: 77.5%;left: 55.5%;width: 14%;height: 5%;" type="text">
                                    <input class="abs" name="11" value="<%= @form_fields['11']%>" style="top: 77.5%;left: 71.5%;width: 12.5%;height: 5%;" type="text">
                                    <input class="abs" style="top: 84%;left: 71.5%;width: 12.5%;height: 4%;" name="11_2" value="<%= @form_fields['11_2']%>" type="text">
                                    
                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099g"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->