<div class="row">
                          <div class="rel col-lg-12">
                             <div>
                                Important Notes:
<br/><br/>
Please enter a data for the first left field  in three lines. A first line should contain your name, second line the address , third line should contain City , State code and ZIP in that order.<br/>
Identification numbers (Federal ID) should contain only numbers.<br/>
All fields where you enter money amounts should contain only amounts without USD or $ sign.<br/>
In 'City or town, state or province ...' field you should enter debtor's city then state code then zip code in that order.<br/>
                              </div>
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                               
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099c">
                                   <img width="100%" src="/media/1099c.png" />

                                    <!-- fields -->
                                   <textarea required="true"  class="abs" style="top: 13%;left: 1.5%;width: 44%;height: 21%;" name="creditors_name_address"><%= @form_fields['creditors_name_address']%></textarea>
                                    <input required="true"  class="abs" style="top: 38.5%;left: 1.5%;width: 21.5%;height: 5%;" name="creditors_fin" value="<%= @form_fields['creditors_fin']%>" type="text">
                                    <input required="true"  class="abs" name="debtors_id" value="<%= @form_fields['debtors_id']%>" style="top: 38.5%;left: 24.5%;width: 21.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="debtors_name" value="<%= @form_fields['debtors_name']%>" style="top: 48.5%;left: 1.5%;width: 44.5%;height: 9%;" type="text">
                                    <input required="true" class="abs" name="street_address" value="<%= @form_fields['street_address']%>" style="top: 63%;left: 1.5%;width: 44.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="city_town_state" value="<%= @form_fields['city_town_state']%>" style="top: 73.5%;left: 1.5%;width: 44.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="account_num" value="<%= @form_fields['account_num']%>" style="top: 83%;left: 1.5%;width: 44.5%;height: 5%;" type="text">
                                   
                    <input type="text" required="true" readonly class="datepicker abs" name="1" value="<%= @form_fields['1']%>" style="top: 9%;left: 47%;width: 18%;height: 5%;">

                                    <input required="true" class="abs" style="top: 19%;left: 48.5%;width: 16.5%;height: 5%;" name="2" value="<%= @form_fields['2']%>" type="text">
                                    <input required="true" class="abs" style="top: 29%;left: 48.5%;width: 16.5%;height: 5%;" name="3" value="<%= @form_fields['3']%>" type="text">
                                    <input required="true" class="abs" name="4" value="<%= @form_fields['4']%>" style="top: 39%;left: 47.5%;width: 36.5%;height: 19%;" type="text">

                                  
                                    <input name="5" value="unchecked" type="hidden">
                                    <input class="abs" style="top: 62%;left: 81.8%;" name="5" <%= @form_fields['5']%> value="checked" type="checkbox">

                                    <input required="true" class="abs" name="6" value="<%= @form_fields['6']%>" style="top: 83%;left: 47.5%;width: 17.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="7" value="<%= @form_fields['7']%>" style="top: 83%;left: 67.5%;width: 16.5%;height: 5%;" type="text">
                                    
                                  <button class="btn btn-primary fixed-button" type="submit">Save Form</button>

                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099c"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->

<script>
jQuery('.datepicker').datepicker({
    dateFormat: "yymmdd"
  });
</script>