<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                               
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099q">
                                   <img width="100%" src="/media/1099q.png" />
                                    
                                    <!-- fields -->
                                    <textarea required="true" class="abs" style="top: 15%;left: 1.5%;width: 44.5%;height: 19%;" name="payers_trusteets_name_address"><%= @form_fields['payers_trusteets_name_address']%></textarea>
                                    <input required="true" class="abs" style="top: 39.5%;left: 1.5%;width: 22%;height: 5.5%;" name="payers_trusteets_fin" value="<%= @form_fields['payers_trusteets_fin']%>" type="text">
                                    <input required="true" class="abs" style="top: 39.5%;left: 24%;width: 22%;" name="recipients_taxpayer_id" value="<%= @form_fields['recipients_taxpayer_id']%>" type="text">
                                    <input required="true" class="abs" style="top: 49.5%;left: 1.5%;width: 44.5%;height: 10%;" name="recipients_name" value="<%= @form_fields['recipients_name']%>" type="text">
                                    <input required="true" class="abs" style="top: 64%;left: 1.5%;width: 44.5%;" name="street_address" value="<%= @form_fields['street_address']%>" type="text">
                                    <input required="true" class="abs" style="top: 74%;left: 1.5%;width: 44.5%;" name="city_town_state" value="<%= @form_fields['city_town_state']%>" type="text">
                                    <input required="true" class="abs" name="account_number" value="<%= @form_fields['account_number']%>" style="top: 84%;left: 1.5%;width: 44.5%;" type="text">
                                    <input required="true" class="abs" style="top: 10.5%;left: 48%;width: 17%;height: 10%;" name="1" value="<%= @form_fields['1']%>" type="text">
                                    <input required="true" class="abs" name="2" value="<%= @form_fields['2']%>" style="top: 25.5%;left: 48%;width: 17%;height: 10%;" type="text">
                                    <input required="true" class="abs" name="3" value="<%= @form_fields['3']%>" style="top: 39.5%;left: 48%;width: 17%;height: 5.5%;" type="text">

                          <input name="4" value="unchecked" type="hidden">
                          <input class="abs" style="top:40.7%;left:82%;" name="4" <%= @form_fields['4']%> value="checked" type="checkbox">

                          <input name="5_private" value="unchecked" type="hidden">
                          <input class="abs" style="top:55.7%;left:53.4%;" name="5_private" <%= @form_fields['5_private']%> value="checked" type="checkbox">

                          <input name="5_state" value="unchecked" type="hidden">
                          <input class="abs" style="top:55.6%;left:63.3%;" name="5_state" <%= @form_fields['5_state']%> value="checked" type="checkbox">

                          <input name="5_coverdeli_esa" value="unchecked" type="hidden">
                          <input class="abs" style="top:60.5%;left:63.3%;" name="5_coverdeli_esa" <%= @form_fields['5_coverdeli_esa']%> value="checked" type="checkbox">

                          <input name="6" value="unchecked" type="hidden">
                          <input class="abs" style="top:50.6%;left:82%;" name="6" <%= @form_fields['6']%> value="checked" type="checkbox">
                                    <button class="btn btn-primary fixed-button" type="submit">Save Form</button>

                                   
                                   
                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099q"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->