<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099patr">
                                   <img width="100%" src="/media/1099patr.png" />
                                    
                                    <!-- fields -->
                                   <input class="abs" name="payers_name_street" value="<%= @form_fields['payers_name_street']%>" style="top: 16%;left: 2%;width: 44%;height: 19%;" type="text">
                                    <input class="abs" style="top: 40%;left: 1.5%;width: 22%;height: 5%;" name="payers_fin" value="<%= @form_fields['payers_fin']%>" type="text">
                                    <input class="abs" name="recipients_id" value="<%= @form_fields['recipients_id']%>" style="top: 40%;left: 24.5%;width: 21.7%;height: 5%;" type="text">
                                    <input class="abs" name="recipients_name" value="<%= @form_fields['recipients_name']%>" style="top: 49.5%;left: 1.5%;width: 44.7%;height: 10%;" type="text">
                                    <input class="abs" name="street_address" value="<%= @form_fields['street_address']%>" style="top: 63.5%;left: 1.5%;width: 44.7%;height: 5.5%;" type="text">
                                    <input class="abs" name="city_town_state" value="<%= @form_fields['city_town_state']%>" style="top: 73%;left: 1.5%;width: 44.7%;height: 5.5%;" type="text">
                                    <input class="abs" name="account_number" value="<%= @form_fields['account_number']%>" style="top: 82.5%;left: 1.5%;width: 36.7%;height: 5.5%;" type="text">

                          <input name="2nd_tin_not" value="unchecked" type="hidden">
                          <input class="abs" style="top:83.8%;left:42%;" name="2nd_tin_not" <%= @form_fields['2nd_tin_not']%> value="checked" type="checkbox">

                                    <input class="abs" style="top: 12%;left: 48%;width: 17%;" name="1" value="<%= @form_fields['1']%>" type="text">
                                    <input class="abs" name="2" value="<%= @form_fields['2']%>" style="top: 21%;left: 48%;width: 17%;" type="text">
                                    <input class="abs" name="3" value="<%= @form_fields['3']%>" style="top: 30.5%;left: 48%;width: 17%;" type="text">
                                    <input class="abs" name="4" value="<%= @form_fields['4']%>" style="top: 40%;left: 48%;width: 17%;" type="text">
                                    <input class="abs" name="5" value="<%= @form_fields['5']%>" style="top: 53.5%;left: 48%;width: 17%;" type="text">
                                    <input class="abs" name="6" value="<%= @form_fields['6']%>" style="top: 53.5%;left: 67%;width: 16.5%;height: 5.5%;" type="text">
                                    <input class="abs" name="7" value="<%= @form_fields['7']%>" style="top: 63.5%;left: 67%;width: 16.5%;height: 5.5%;" type="text">
                                    <input class="abs" name="8" value="<%= @form_fields['8']%>" style="top: 73%;left: 48%;width: 16.5%;height: 5.5%;" type="text">
                                    <input class="abs" name="9" value="<%= @form_fields['9']%>" style="top: 73%;left: 66.8%;width: 16.5%;height: 5.5%;" type="text">
                                    <input class="abs" name="10" value="<%= @form_fields['10']%>" style="top: 82.5%;left: 48%;width: 35.5%;height: 5.5%;" type="text">
                                   
                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099patr"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->