<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Label:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                        <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                        <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099k">
                                   <img width="100%" src="/media/1099k.png" />
                                    
                                    <!-- fields -->
                                    <input class="abs" style="top: 9%;left: 2%;width: 44%;height: 21%;" name="filers_name_street" value="" type="text">
                                    <input class="abs" name="payment_settlement_entity" value="" style="" type="text">
                                    <input class="abs" name="electronic_payment_fac" value="" style="" type="text">
                                    <input class="abs" name="payment_card" value="" style="" type="text">
                                    <input class="abs" name="third_party_network" value="" style="" type="text">
                                    <input class="abs" style="top: 46%;left: 2%;width: 44%;height: 7%;" name="payees_name" value="" type="text">
                                    <input class="abs" style="top: 56%;left: 2%;width: 44%;height: 10%;" name="street_address" value="" type="text">
                                    <input class="abs" style="top: 69%;left: 2%;width: 44%;" name="city_town_state" value="" type="text">
                                    <input class="abs" style="top: 76%;left: 2%;width: 44%;height: 6%;" name="pses_name" value="" type="text">
                                    <input class="abs" style="top: 86%;left: 2%;width: 36%;height: 6%;" name="account_num" value="" type="text">
                                    <input class="abs" name="2nd_tin_not" value="" style="" type="text">
                                    <input class="abs" style="top: 6.2%;left: 47%;width: 17.5%;" name="filers_fin" value="" type="text">
                                    <input class="abs" style="top: 13%;left: 47%;width: 17.5%;" name="payees_taxpayer" value="" type="text">
                                    <input class="abs" style="top: 23.2%;left: 48.5%;width: 16%;height: 3%;" name="1a" value="" type="text">
                                    <input class="abs" style="top: 31%;left: 48.5%;width: 16%;" name="1b" value="" type="text">
                                    <input class="abs" style="top: 29.5%;left: 66%;width: 17.5%;height: 4.7%;" name="2" value="" type="text">
                                    <input class="abs" name="3" value="" style="top: 39.5%;left: 47%;width: 17.5%;height: 3.2%;" type="text">
                                    <input class="abs" name="4" value="" style="top: 39.5%;left: 67%;width: 16%;height: 3.2%;" type="text">
                                    <input class="abs" name="5a" value="" style="top: 46.5%;left: 48.5%;width: 16%;height: 3.2%;" type="text">
                                    <input class="abs" name="5b" value="" style="top: 46.5%;left: 67%;width: 16%;height: 3.2%;" type="text">
                                    <input class="abs" name="5c" value="" style="top: 53%;left: 48.5%;width: 16%;height: 3.2%;" type="text">
                                    <input class="abs" name="5d" value="" style="top: 53%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5e" value="" style="top: 59.5%;left: 48.5%;width: 16%;height: 3.2%;" type="text">
                                    
                                    <input class="abs" name="5f" value="" style="top: 59.5%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5g" value="" style="top: 66.5%;left: 48.5%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5h" value="" style="top: 66.5%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5i" value="" style="top: 72.5%;left: 48.5%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5j" value="" style="top: 72.5%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5k" value="" style="top: 79.5%;left: 48.5%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="5l" value="" style="top: 79.5%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="6" value="" style="top: 86%;left: 48.5%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="7" value="" style="top: 86%;left: 67%;width: 16%;height: 3.2%;" type="text">

                                    <input class="abs" name="8" value="" style="top: 86%;left: 85.7%;width: 13%;height: 3.2%;" type="text">

                                    <input class="abs" name="8_2" value="" style="top: 90%;left: 85.7%;width: 13%;height: 3%;" type="text">

                                

                                


                                

                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099k"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->