<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Label:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                        <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                        <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099misc">
                                   <img width="100%" src="/media/1099misc.png" />
                                    
                                    <!-- fields -->
                                     <input class="abs" style="top: 10%;left: 2.5%;width: 43%;height: 20%;" name="payers_name_street" value="" type="text">
                                    <input class="abs" style="top: 34%;left: 2.5%;width: 21%;height: 6.5%;" name="payers_fin" value="" type="text">
                                    <input class="abs" name="recipients_id" value="" style="top: 34%;left: 25%;width: 21%;height: 6.5%;" type="text">
                                    <input class="abs" name="recipients_name" value="" style="top: 46.5%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input class="abs" name="street_address" value="" style="top: 56.5%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input class="abs" name="city_town_state" value="" style="top: 66%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input class="abs" name="account_number" value="" style="top: 76%;left: 2.5%;width: 27.5%;height: 6.5%;" type="text">
                                    <input class="abs" name="fatca_filing_req" value="" style="" type="text">
                                    <input class="abs" name="2nd_tin_not" value="" style="" type="text">
                                    <input class="abs" style="top: 7%;left: 49%;width: 15%;height: 7%;" name="1" value="" type="text">
                                    <input class="abs" name="2" value="" style="top: 17%;left: 49%;width: 15%;height: 7%;" type="text">
                                    <input class="abs" name="3" value="" style="top: 26.5%;left: 49%;width: 15%;height: 4%;" type="text">
                                    <input class="abs" name="4" value="" style="top: 27%;left: 67%;width: 16%;height: 3.5%;" type="text">
                                    <input class="abs" style="top: 34%;left: 49%;width: 15%;height: 9%;" name="5" value="" type="text">
                                    <input class="abs" name="6" value="" style="top: 34%;left: 67%;width: 16%;height: 9%;" type="text">
                                    <input class="abs" style="top: 47%;left: 49%;width: 15%;height: 9%;" name="7" value="" type="text">
                                    <input class="abs" name="8" value="" style="top: 49%;left: 67%;width: 16%;height: 7%;" type="text">
                                    <input class="abs" name="9" value="" style="" type="text">
                                    <input class="abs" name="10" value="" style="top: 59%;left: 67%;width: 15%;height: 7%;" type="text">
                                    <input class="abs" name="11" value="" style="top: 67%;left: 48.5%;width: 15%;height: 6%;" type="text">
                                    <input class="abs" name="12" value="" style="top: 67%;left: 67%;width: 15%;height: 6%;" type="text">


                                    <input class="abs" name="13" value="" style="top: 78%;left: 48.5%;width: 15.5%;height: 4.5%;" type="text">
                                    <input class="abs" name="14" value="" style="top: 78%;left: 67.5%;width: 15.5%;height: 4.5%;" type="text">
                                    <input class="abs" name="15a" value="" style="top: 85.5%;left: 3.5%;width: 19.5%;height: 6.5%;" type="text">
                                    <input class="abs" name="15b" value="" style="top: 85.5%;left: 26%;width: 19.5%;height: 6.5%;" type="text">
                                    <input class="abs" style="top: 85.5%;left: 48.5%;width: 16%;" name="16" value="" type="text">
                                    <input class="abs" name="16_2" value="" style="top: 89.4%;left: 48.5%;width: 16%;height: 3%;" type="text">
                                    <input class="abs" name="17" value="" style="top: 85.5%;left: 65.5%;width: 17.5%;" type="text">
                                    <input class="abs" name="18" value="" style="top: 85.5%;left: 85.5%;width: 13.5%;height: 3.5%;" type="text"> <input class="abs" name="18_2" value="" style="top: 90%;left: 85.5%;width: 13.5%;height: 2.5%;" type="text">




                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099misc"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->