<div class="row">
                          <div class="rel col-lg-12">
                             <div>
                                Important Notes:
<br/><br/>
Please enter a data for the first left field  in three lines. A first line should contain your name, second line the address , third line should contain City , State code and ZIP in that order.<br/>
Identification numbers (Federal ID) should contain only numbers.<br/>
All fields where you enter money amounts should contain only amounts without USD or $ sign.<br/>
In 'City or town, state or province ...' field you should enter recipient's city then state code then zip code in that order.<br/>
                              </div>
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                               
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099h">
                                   <img width="100%" src="/media/1099h.png" />
                                    
                                    <!-- fields -->
                                    <textarea required="true" class="abs" style="top: 13%;left: 1.5%;width: 44%;height: 16%;" name="issuers_providers_name_address" ><%= @form_fields['issuers_providers_name_address']%></textarea>
                                    <input required="true" class="abs" style="top: 33.5%;left: 1.5%;width: 22%;" name="issuers_providers_fin" value="<%= @form_fields['issuers_providers_fin']%>" type="text">
                                    <input required="true" class="abs" style="top: 33.5%;left: 24.5%;width: 21%;" value="<%= @form_fields['recipients_id']%>" name="recipients_id" type="text">
                                    <input required="true" class="abs" style="top: 44%;left: 1.5%;width: 44.5%;height: 14%;" name="recipients_name" value="<%= @form_fields['recipients_name']%>" type="text">
                                    <input required="true" class="abs" style="top: 63%;left: 1.5%;width: 44.5%;height: 5%;" name="street_address" value="<%= @form_fields['street_address']%>" type="text">
                                    <input required="true" class="abs" style="top: 73%;left: 1.5%;width: 44.5%;" name="city_town_address" value="<%= @form_fields['city_town_address']%>" type="text">
                                    <input required="true" class="abs" style="top: 10.5%;left: 48.5%;width: 16%;height: 4%;" name="1" value="<%= @form_fields['1']%>" type="text">
                                    <input required="true" class="abs" style="top: 22%;left: 47%;width: 18%;height: 7%;" name="2" value="<%= @form_fields['2']%>" type="text">
                                    <input required="true" class="abs" style="top: 33.5%;left: 48.5%;width: 16.5%;height: 5.5%;" name="3" value="<%= @form_fields['3']%>" type="text">
                                    <input required="true" class="abs" style="top: 43.5%;left: 48.5%;width: 16.5%;" name="4" value="<%= @form_fields['4']%>" type="text">
                                    <input required="true" class="abs" name="5" value="<%= @form_fields['5']%>" style="top: 53.5%;left: 48.5%;width: 16.5%;" type="text">
                                    <input required="true" class="abs" name="6" value="<%= @form_fields['6']%>" style="top: 63.5%;left: 48.5%;width: 16.5%;" type="text">
                                    <input required="true" class="abs" name="7" value="<%= @form_fields['7']%>" style="top: 73.3%;left: 48.5%;width: 16.5%;height:5%;" type="text">
                                    <input required="true" class="abs" name="8" value="<%= @form_fields['8']%>" style="top: 83%;left: 48.5%;width: 16.5%;" type="text">
                                    <input required="true" class="abs" name="9" value="<%= @form_fields['9']%>" style="top: 34%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="10" value="<%= @form_fields['10']%>" style="top: 44%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="11" value="<%= @form_fields['11']%>" style="top: 54%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="12" value="<%= @form_fields['12']%>" style="top: 63.5%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="13" value="<%= @form_fields['13']%>" style="top: 73.5%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <input required="true" class="abs" name="14" value="<%= @form_fields['14']%>" style="top: 83.5%;left: 67%;width: 16.5%;height: 5%;" type="text">
                                    <button class="btn btn-primary fixed-button" type="submit">Save Form</button>
 
                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099h"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->