<a class="instructions" href="/media/i3921.pdf" target="_blank"><i class="fa fa-question-circle" ></i>  Download Instructions</a>
<br/>
            <div class="row">
              <form id="form1" action="/form/save">
                    <div class="rel col-lg-12">
<!-- Label part -->
                      <div id="label-container">
                        Label:
                        <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label"} )%>
                        <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                            <div class="input-group">
                              <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                              <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                  <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                  <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="labels-colors">
                          <% @colors_array.each do |color| %>
                          <% if @form_fields['label'] == color[0] 
                                @additional_style = ' display:block;' 
                             else 
                                @additional_style = ''
                             end %>
                          <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                          <% end %>
                      </div>
<!-- end label parts -->
                    </div>
                    <div class="rel col-lg-12">
                        <img width="100%" src="/
media/3922.png" />
                          <input class="abs" style="top: 7%;left: 10%;width: 38%;height: 6%;" type="text" name="corp_name" value="<%= @form_fields['corp_name']%>" placeholder="">
                          <input class="abs" style="top: 6%;left: 48.5%;width: 15.5%;height: 3%;" type="text" name="1" value="<%= @form_fields['1']%>" placeholder="">
                          <input class="abs" style="top: 10.2%;left: 48.5%;width: 15.5%;height: 3%;" type="text" name="2" value="<%= @form_fields['2']%>" placeholder="">
                          <input class="abs" style="top: 13.6%;left: 9.5%;width: 19%;height: 3%;" type="text" name="corp_fin" value="<%= @form_fields['corp_fin']%>" placeholder="">
                          <input class="abs" style="top: 13.6%;left: 29%;width: 19%;height: 3%;" type="text" name="empl_id" value="<%= @form_fields['empl_id']%>" placeholder="">


                          <input class="abs" style="top: 15.7%;left: 48.5%;width: 16%;height: 2.5%;" type="text" name="3" value="<%= @form_fields['3']%>" placeholder="">
                          <input class="abs" style="top: 15.7%;left: 64.3%;height: 2.4%;width: 16%;" type="text" name="4" value="<%= @form_fields['4']%>" placeholder="">
                          <input class="abs" style="top: 19.2%;left: 48.3%;width: 16%;height: 2%;" type="text" name="5" value="<%= @form_fields['5']%>" placeholder="">
                          <input class="abs" style="top: 19.2%;left: 64.4%;width: 16%;height: 2%;" type="text" name="6" value="<%= @form_fields['6']%>" placeholder="">
                          <input class="abs" style="top: 17.6%;left: 9.5%;width: 38.5%;height: 4%;" type="text" name="empl_name" value="<%= @form_fields['empl_name']%>" placeholder="">

                          <input class="abs" style="top: 22.3%;left: 9.5%;width: 38%;height: 2.3%;" type="text" name="street_address" value="<%= @form_fields['street_address']%>" placeholder="">
                          <input class="abs" style="top: 22%;left: 48.5%;width: 31.5%;height: 3.6%;" type="text" name="7" value="<%= @form_fields['7']%>" placeholder="">
                          <input class="abs" style="top: 28%;left: 49.5%;width: 30.5%;height: 1.9%;" type="text" name="8" value="<%= @form_fields['8']%>" placeholder="">
                          <input class="abs" style="top: 28.4%;left: 10%;width: 38%;height: 2%;" type="text" name="account_number" value="<%= @form_fields['account_number']%>" placeholder="">

                          <!-- checkboxes -->
<!--
                          <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['amended_return']%> value="checked">

                           <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['final_return']%> value="checked">

                          <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['evening_meals_only']%> value="checked">

                          <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['evening_other_meals']%> value="checked">

                          <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['other_than_evening_meals']%> value="checked">

                          <input  type="hidden" name="" value="unchecked">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['alcoholic_beverages']%> value="checked">

                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['establishment_accept_cc']%> value="yes">
                          <input  class="abs" style="top: 5%;left: 5%;width: 3%;height: 3%;" type="checkbox" name="" <%= @form_fields['establishment_accept_cc']%> value="no">
-->           
                          <!-- add three more -->

                          <!-- end checkboxes -->


                          <input type="hidden" name="form_id" value="3922"> 
                          <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">


                        
                    </div>
              </form>
            </div>
            <!-- /.row -->
<style>

</style>

