<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099misc">
                                   <img width="100%" src="/media/1099misc.png" />
                                    
                                    <!-- fields -->
                                     <textarea required="true" class="abs" style="top: 10%;left: 2.5%;width: 43%;height: 20%;" name="payers_name_street"><%= @form_fields['payers_name_street']%></textarea>
                                    <input required="true" class="abs" style="top: 34%;left: 2.5%;width: 21%;height: 6.5%;" name="payers_fin" value="<%= @form_fields['payers_fin']%>" type="text">
                                    <input required="true" class="abs" name="recipients_id" value="<%= @form_fields['recipients_id']%>" style="top: 34%;left: 25%;width: 21%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" name="recipients_name" value="<%= @form_fields['recipients_name']%>" style="top: 46.5%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" name="street_address" value="<%= @form_fields['street_address']%>" style="top: 56.5%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" name="city_town_state" value="<%= @form_fields['city_town_state']%>" style="top: 66%;left: 2.5%;width: 43.5%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" name="account_number" value="<%= @form_fields['account_number']%>" style="top: 76%;left: 2.5%;width: 27.5%;height: 6.5%;" type="text">

                      <input name="fatca_filing_req" value="unchecked" type="hidden">
                      <input class="abs" style="top:78.6%;left:34%;" name="fatca_filing_req" <%= @form_fields['fatca_filing_req']%> value="checked" type="checkbox">
                      <input name="2nd_tin_not" value="unchecked" type="hidden">
                      <input class="abs" style="top:76.4%;left:42%;" name="2nd_tin_not" <%= @form_fields['2nd_tin_not']%> value="checked" type="checkbox">

                                    <input required="true" class="abs" style="top: 7%;left: 49%;width: 15%;height: 7%;" name="1" value="<%= @form_fields['1']%>" type="text">
                                    <input required="true" class="abs" name="2" value="<%= @form_fields['2']%>" style="top: 17%;left: 49%;width: 15%;height: 7%;" type="text">
                                    <input required="true" class="abs" name="3" value="<%= @form_fields['3']%>" style="top: 26.5%;left: 49%;width: 15%;height: 4%;" type="text">
                                    <input required="true" class="abs" name="4" value="<%= @form_fields['4']%>" style="top: 27%;left: 67%;width: 16%;height: 3.5%;" type="text">
                                    <input required="true" class="abs" style="top: 34%;left: 49%;width: 15%;height: 9%;" name="5" value="<%= @form_fields['5']%>" type="text">
                                    <input required="true" class="abs" name="6" value="<%= @form_fields['6']%>" style="top: 34%;left: 67%;width: 16%;height: 9%;" type="text">
                                    <input required="true" class="abs" style="top: 47%;left: 49%;width: 15%;height: 9%;" name="7" value="<%= @form_fields['7']%>" type="text">
                                    <input required="true" class="abs" name="8" value="<%= @form_fields['8']%>" style="top: 49%;left: 67%;width: 16%;height: 7%;" type="text">

                      <input name="9" value="unchecked" type="hidden">
                      <input class="abs" style="top:63%;left:62.8%;" name="9" <%= @form_fields['9']%> value="checked" type="checkbox">

                                    <input required="true" class="abs" name="10" value="<%= @form_fields['10']%>" style="top: 59%;left: 67%;width: 15%;height: 7%;" type="text">
                                    <input required="true" class="abs" name="11" value="<%= @form_fields['11']%>" style="top: 67%;left: 48.5%;width: 15%;height: 6%;" type="text">
                                    <input required="true" class="abs" name="12" value="<%= @form_fields['12']%>" style="top: 67%;left: 67%;width: 15%;height: 6%;" type="text">


                                    <input required="true" class="abs" name="13" value="<%= @form_fields['13']%>" style="top: 78%;left: 48.5%;width: 15.5%;height: 4.5%;" type="text">
                                    <input required="true" class="abs" name="14" value="<%= @form_fields['14']%>" style="top: 78%;left: 67.5%;width: 15.5%;height: 4.5%;" type="text">
                                    <input required="true" class="abs" name="15a" value="<%= @form_fields['15a']%>" style="top: 85.5%;left: 3.5%;width: 19.5%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" name="15b" value="<%= @form_fields['15b']%>" style="top: 85.5%;left: 26%;width: 19.5%;height: 6.5%;" type="text">
                                    <input required="true" class="abs" style="top: 85.5%;left: 48.5%;width: 16%;" name="16" value="<%= @form_fields['16']%>" type="text">
                                    <input required="true" class="abs" name="16_2" value="<%= @form_fields['16_2']%>" style="top: 89.4%;left: 48.5%;width: 16%;height: 3%;" type="text">
                                    <input required="true" class="abs" name="17" value="<%= @form_fields['17']%>" style="top: 85.5%;left: 65.5%;width: 17.5%;" type="text">
                                    <input required="true" class="abs" name="18" value="<%= @form_fields['18']%>" style="top: 85.5%;left: 85.5%;width: 13.5%;height: 3.5%;" type="text"> 
                                    <input required="true" class="abs" name="18_2" value="" style="top: 90%;left: 85.5%;width: 13.5%;height: 2.5%;" type="text">
                                    <button class="btn btn-primary fixed-button" type="submit">Save Form</button>




                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099misc"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->