<div class="row">
                          <div class="rel col-lg-12">
                             
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Label:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                        <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                        <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                                <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099g">
                                   <img width="100%" src="/media/1099g.png" />


                                    <!-- fields -->
                                    <input class="abs" style="top: 13%;left: 1.5%;width: 45%;height: 21%;" name="payers__name_address" value="" type="text">
                                    <input class="abs" style="top: 38.4%;left: 1.5%;width: 22%;height: 5%;" name="payers_fin" value="" type="text">
                                    <input class="abs" style="top: 38.3%;left: 24.3%;width: 22%;height: 5%;" name="recipients_id" value="" type="text">
                                    <input class="abs" style="top: 48.3%;left: 1.5%;width: 45%;height: 10%;" name="recipients_name" value="" type="text">
                                    <input class="abs" style="top: 63%;left: 1.5%;width: 45%;height: 5%;" name="street_address" value="" type="text">
                                    <input class="abs" style="top: 72.5%;left: 1.5%;width: 45%;height: 5%;" name="city_town_state" value="" type="text">
                                    <input class="abs" style="top: 82.4%;left: 1.5%;width: 45%;height: 5%;" name="account_number" value="" type="text">
                                    
                                    <input class="abs" style="top: 10%;left: 48.5%;width: 17%;height: 9%;" name="1" value="" type="text">
                                    <input class="abs" style="top: 28%;left: 48.5%;width: 17%;height: 5%;" name="2" value="" type="text">
                                    <input class="abs" style="top: 38.5%;left: 48%;width: 17%;height: 5%;" name="3" value="" type="text">
                                    <input class="abs" style="top: 38.5%;left: 67.5%;width: 17%;height: 5%;" name="4" value="" type="text">
                                    <input class="abs" name="5" value="" style="top: 48.5%;left: 48.5%;width: 17%;height: 5%;" type="text">
                                    <input class="abs" style="top: 48.5%;left: 67.5%;width: 17%;height: 5%;" name="6" value="" type="text">
                                    <input class="abs" name="7" value="" style="top: 58%;left: 48.5%;width: 17%;height: 5%;" type="text">
                                    <input class="abs" name="8" value="" style="" type="text">
                                    <input class="abs" name="9" value="" style="top: 67.5%;left: 48.5%;width: 17%;height: 5%;" type="text">
                                    <input class="abs" name="10a" value="" style="top: 77.5%;left: 47%;width: 7.5%;height: 5%;" type="text">
                                    <input class="abs" name="10b" value="" style="top: 77.5%;left: 55.5%;width: 14%;height: 5%;" type="text">
                                    <input class="abs" name="11" value="" style="top: 77.5%;left: 71.5%;width: 12.5%;height: 5%;" type="text">
                                    <input class="abs" style="top: 84%;left: 71.5%;width: 12.5%;height: 4%;" name="11_2" value="" type="text">
                                    
                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099g"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->