<br/>
<a class="instructions" href="" target="_blank"><i class="fa fa-question-circle" ></i>  Download Instructions</a>
<br/>
<br/>
            
            <div class="row">
                    <div class="rel col-lg-12">
                       
                       <form id="form1" action="/form/save">
<!-- Label part -->
                      <div id="label-container">
                        Label:
                        <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                        <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                            <div class="input-group">
                              <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                              <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                  <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                  <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="labels-colors">
                          <% @colors_array.each do |color| %>
                          <% if @form_fields['label'] == color[0] 
                                @additional_style = ' display:block;' 
                             else 
                                @additional_style = ''
                             end %>
                          <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                          <% end %>
                      </div>
                      <div class="clear">&nbsp;</div>
<!-- end label parts -->  
                          <div id="fields-container" class="form8955ssa">
                             <img width="100%" src="/
media/8955ssa.png" />
                              <!-- fields part i -->
                                   <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_if_plan_is_govemment_church" value="">
                                   <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_if_amended_registration" value="">
                                   <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="form_5558" value="">
                                   <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="special_extension" value="">
                                   <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="automatic_extension" value="">check
                              <!-- end of fields part i -->
                              <!-- fields part ii-->
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="1a" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="1b" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2a" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2b" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2c" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2d" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2e" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2f" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2g" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2h" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2i" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2j" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2k" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="2l" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3a" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3b" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3c" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3d" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3e" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3f" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3g" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3h" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3i" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3j" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="3k" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="4_plan_administrators_name" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="4_ein" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="5_plan_sponsors_name" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="5_ein" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="5_plan_number" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="6a" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="6b" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="name_of_plan" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="plan_number" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="ein" value="">
                                  <!-- end of fields part ii-->
                                  <!-- fields part iii -->
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_1" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_1" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_2" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_2" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_3" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_3" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_4" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_4" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_5" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_5" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_6" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_6" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_7" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_7" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_8" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_8" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_9" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_9" value="">

                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="entry_code_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="social_security_number_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="first_name_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="mi_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="last_name_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="check_sign_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="type_of_annuity_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="payment_frequency_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_benefit_plan_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="defined_contribution_plan_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_sponsors_ein_10" value="">
                                    <input class="abs" style="top: 0%;left: 0%;width: 0%;" type="text" name="previous_plan_number_10" value="">
                                    
                                  <!-- end of fields part iii -->
                              
                              <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                              <input type="hidden" name="form_id" value="8955SSA"> 
                          </div><!-- fields-container -->
                        </form>
                        
                    </div>
                    
            </div>
            <!-- /.row -->



