<!-- Button trigger modal -->

<span class="instructions" aria-hidden="true" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-question-circle" ></i> Read Filing Requirements</span>
<br/>
<a class="instructions" href="/media/iw2g.pdf" target="_blank"><i class="fa fa-question-circle" ></i>  Download Instructions</a>
<br/>
<br/>
            
            <div class="row">
                    <div class="rel col-lg-12">
                       
                       <form id="form1" action="/form/save">
<!-- Label part -->
                      <div id="label-container">
                        Label:
                        <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                        <div  id="label-other-container"> Please enter a new label and choose color:&nbsp;&nbsp;
                            <div class="input-group">
                              <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                              <div class="input-group input-append color" data-color="rgb(213,215,219)" data-color-format="rgb" id="cp4">
                                  <input type="text" class="form-control"  aria-describedby="basic-addon1" value="rgb(213,215,219)" name="label_color" readonly="readonly">
                                  <span class=" add-on input-group-addon"><i style="background-color: rgb(213,215,219);"></i></span>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div id="labels-colors">
                          <% @colors_array.each do |color| %>
                          <% if @form_fields['label'] == color[0] 
                                @additional_style = ' display:block;' 
                             else 
                                @additional_style = ''
                             end %>
                          <div style="background:<%= color[1] %>;<%= @additional_style %>" id="color-<%= color[0].delete(' ') %>" class="color-box"></div>
                          <% end %>
                      </div>
                      <div class="clear">&nbsp;</div>
<!-- end label parts -->  
                        <img width="100%" class="header1042s" src="/media/form_header.png" />
                          <div id="fields-container" class="form1042s">
                             <img width="100%" src="/media/form1.png" />
                              <input class="abs" style="top: 4%;left: 3%;width: 47%;" name="13e" value="<%= @form_fields['13e']%>" type="text">
                              <input class="abs" style="top: 1%;left: 78%;width: 20%;height: 3%;" name="13f" value="<%= @form_fields['13f']%>" type="text">
                              <input class="abs" style="top: 4.5%;left: 78%;width: 20%;height: 3%;" name="13g" value="<%= @form_fields['13g']%>" type="text">
                              <input class="abs" style="top: 10%;left: 3%;width: 32%;height: 8%;" name="13h" value="<%= @form_fields['13h']%>" type="text">
                              <input class="abs" style="top: 13%;left: 37%;width: 41%;height: 5%;" name="13i" value="<%= @form_fields['13i']%>" type="text">
                              <input class="abs" style="top: 11%;left: 81%;width: 17%;height: 7%;" name="13j" value="<%= @form_fields['13j']%>" type="text">
                              <input class="abs" style="top: 21.5%;left: 3%;width: 58%;height: 4%;" name="13k" value="<%= @form_fields['13k']%>" type="text">
                              <input class="abs" style="top: 21.5%;left: 66%;width: 31%;height: 4%;" name="13l" value="<%= @form_fields['13l']%>" type="text">
                              <input class="abs" style="top: 29%;left: 5%;width: 90%;height: 4%;" name="14a" value="<%= @form_fields['14a']%>" type="text">
                              <input class="abs" style="top: 36.5%;left: 5%;width: 45%;height: 3.8%;" name="14b" value="<%= @form_fields['14b']%>" type="text">
                              <input name="15" value="unchecked" type="hidden">
                              <input class="abs" style="top: 35%;left: 92%;width: 3%;height: 3%;" name="15" <%= @form_fields['15']%> value="checked" type="checkbox">
                              <input class="abs" style="top: 43%;left: 5%;width: 51%;height: 5%;" name="15a" value="<%= @form_fields['15a']%>" type="text">
                              <input class="abs" style="top: 43%;left: 57%;width: 20%;height: 4.7%;" name="15b" value="<%= @form_fields['15b']%>" type="text">
                              <input class="abs" style="top: 43%;left: 78%;width: 20%;height: 5%;" name="15c" value="<%= @form_fields['15c']%>" type="text">
                              <input class="abs" style="top: 48.3%;left: 53%;width: 45%;height: 3.1%;" name="15d" value="<%= @form_fields['15d']%>" type="text">
                              <input class="abs" style="top: 52%;left: 53%;width: 45%;height: 2.9%;" name="15e" value="<%= @form_fields['15e']%>" type="text">
                              <input class="abs" style="top: 58%;left: 2%;width: 27%;height: 4%;" name="15f" value="<%= @form_fields['15f']%>" type="text">
                              <input class="abs" style="top: 58%;left: 32%;width: 63%;height: 4.5%;" name="15g" value="<%= @form_fields['15g']%>" type="text">
                              <input class="abs" style="top: 65%;left: 4%;width: 92%;height: 4.3%;" name="15h" value="<%= @form_fields['15h']%>" type="text">
                              <input class="abs" style="top: 72.3%;left: 4%;width: 92%;height: 4.2%;" name="15i" value="<%= @form_fields['15i']%>" type="text">
                              <input class="abs" style="top: 79.7%;left: 4%;width: 59%;height: 4.5%;" name="16a" value="<%= @form_fields['16a']%>" type="text">
                              <input class="abs" style="top: 79.8%;left: 65%;width: 33%;height: 4.5%;" name="16b" value="<%= @form_fields['16b']%>" type="text">
                              <input class="abs" style="top: 87%;left: 4%;width: 46%;height: 4%;" name="16c" value="<%= @form_fields['16c']%>" type="text">
                              <input class="abs" style="top: 87%;left: 52%;width: 21%;height: 4.5%;" name="16d" value="<%= @form_fields['16d']%>" type="text">
                              <input class="abs" style="top: 87%;left: 76%;width: 22%;height: 4.5%;" name="16e" value="<%= @form_fields['16e']%>" type="text">
                              <input class="abs" style="top: 94.5%;left: 4%;width: 36%;height: 4.4%;" name="17a" value="<%= @form_fields['17a']%>" type="text">


                              <input class="abs" style="top: 94.5%;left: 42%;width: 29%;height: 4.4%;" name="17b" value="<%= @form_fields['17b']%>" type="text">
                              <input class="abs" style="top: 94.4%;left: 73%; width: 24%;height: 4.4%;" name="17c" value="<%= @form_fields['17c']%>" type="text">
                              
                              <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                              <input type="hidden" name="form_id" value="1042-s"> 
                          </div><!-- fields-container -->
                        </form>
                        
                    </div>
                    
            </div>
            <!-- /.row -->
<style>

</style>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">U.S. Income Tax Filing Requirements</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!-- ******************************** -->

<div class="row">
<div class="col-md-6">
Generally, every nonresident alien individual, nonresident alien fiduciary, and foreign corporation with United States income, including income that is effectively connected with the conduct of a trade or business in the United States, must file a United States income tax return. However, no return is required to be filed by a nonresident alien individual, nonresident alien fiduciary, or foreign corporation if such person was not engaged in a trade or business in the United States at any time during the tax year and if the tax liability of such person was fully satisfied by the withholding of United States tax at the source. Corporations file Form 1120-F; all others file Form 1040NR (or Form 1040NR-EZ if eligible). You may get the return forms and instructions at IRS.gov, at any United States Embassy or consulate, or by writing to: Internal Revenue Service, 1201 N. Mitsubishi Motorway, Bloomington, IL 61705-6613.
<br />
<br />
En règle générale, tout étranger non-résident, tout organisme fidéicommissaire étranger non-résident et toute société étrangère percevant un revenu aux Etats-Unis, y compris tout revenu dérivé, en fait, du fonctionnement d’un commerce ou d’une affaire aux Etats- Unis, doit produire une déclaration d’impôt sur le revenu auprès des services fiscaux des Etats-Unis. Cependant aucune déclaration d’impôt sur le revenu n’est exigée d’un étranger non-résident, d’un organisme fidéicommissaire étranger non-résident, ou d’une société étrangère s’ils n’ont pris part à aucun commerce ou affaire aux Etats- Unis à aucun moment pendant l’année fiscale et si les impôts dont ils sont redevables, ont été entièrement acquittés par une retenue à la source sur leur salaire. Les sociétés doivent faire leur déclaration d’impôt en remplissant le formulaire 1120-F; tous les autres redevables doivent remplir le formulaire 1040NR (ou 1040NR-EZ s'ils en remplissent les conditions). On peut se procurer les formulaires de déclarations d’impôts et les instructions y afférentes à IRS.gov et dans toutes les ambassades et tous les consulats des Etats-Unis. L’on peut également s’adresser pour tout renseignement à: Internal Revenue Service, 1201 N. Mitsubishi Motorway, Bloomington, IL 61705-6613.
</div>
<div class="col-md-6">
Por regla general, todo extranjero no residente, todo organismo fideicomisario extranjero no residente y toda sociedad anónima extranjera que reciba ingresos en los Estados Unidos, incluyendo ingresos relacionados con la conducción de un negocio o comercio dentro de los Estados Unidos, deberá presentar una declaración estadounidense de impuestos sobre el ingreso. Sin embargo, no se requiere declaración alguna a un individuo extranjero, una sociedad anónima extranjera u organismo fideicomisario extranjero no residente, si tal persona no ha efectuado comercio o negocio en los Estados Unidos durante el año fiscal y si la responsabilidad con los impuestos de tal persona ha sido satisfecha plenamente mediante retención del impuesto de los Estados Unidos en la fuente. Las sociedades anónimas envían el Formulario 1120-F; todos los demás contribuyentes envían el Formulario 1040NR (o el Formulario 1040NR-EZ si les corresponde). Se podrá obtener formularios e instrucciones en IRS.gov y en cualquier Embajada o Consulado de los Estados Unidos o escribiendo directamente a: Internal Revenue Service, 1201 N. Mitsubishi Motorway, Bloomington, IL 61705-6613.
<br />
<br />
Im allgemeinen muss jede ausländische Einzelperson, jeder ausländische Bevollmächtigte und jede ausländische Gesellschaft mit Einkommen in den Vereinigten Staaten, einschliesslich des Einkommens, welches direkt mit der Ausübung von Handel oder Gewerbe innerhalb der Staaten verbunden ist, eine Einkommensteuererklärung der Vereinigten Staaten abgeben. Eine Erklärung, muss jedoch nicht von Ausländern, ausländischen Bevollmächtigten oder ausländischen Gesellschaften in den Vereinigten Staaten eingereicht werden, falls eine solche Person während des Steuerjahres kein Gewerbe oder Handel in den Vereinigten Staaten ausgeübt hat und die Steuerschuld durch Einbehaltung der Steuern der Vereinigten Staaten durch die Einkommensquelle abgegolten ist. Gesellschaften reichen den Vordruck 1120-F ein; alle anderen reichen das Formblatt 1040NR (oder wenn passend das Formblatt 1040NR-EZ) ein. Einkommensteuererklärungen und Instruktionen können unter IRS.gov und bei den Botschaften und Konsulaten der Vereiningten Staaten eingeholt werden. Um weitere Informationen wende man sich bitte an: Internal Revenue Service, 1201 N. Mitsubishi Motorway,
Bloomington, IL 61705-6613.
</div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h6>Explanation of Codes Box 1. Income Code.</h6>
    <table>
        <tr>
          <td class="rotate">
            <span>Interest</span>
          </td>
          <td>
            <table>
              <tr><th>Code</th><th> Types of Income</th></tr>
              <tr><td>01</td><td> Interest paid by U.S. obligors—general</td></tr>
              <tr><td>02</td><td> Interest paid on real property mortgages</td></tr>
              <tr><td>03</td><td> Interest paid to controlling foreign corporations</td></tr>
              <tr><td>04</td><td> Interest paid by foreign corporations</td></tr>
              <tr><td>05</td><td> Interest on tax-free covenant bonds</td></tr>
              <tr><td>22</td><td> Interest paid on deposit with a foreign branch of a domestic
              corporation or partnership</td></tr>
              <tr><td>29</td><td> Deposit Interest</td></tr>
              <tr><td>30</td><td> Original issue discount (OID)</td></tr>
              <tr><td>31</td><td> Short-term OID</td></tr>
              <tr><td>33</td><td> Substitute payment—interest</td></tr>
              <tr><td>51</td><td> Interest paid on certain actively traded or publicly offered
              securities1</td></tr>
              <tr><td>54</td><td> Substitute payments—interest from certain actively traded or publicly offered securities1</td></tr>
              <tr><td>06</td><td> Dividends paid by U.S. corporations—general</td></tr>
              <tr><td>07</td><td> Dividends qualifying for direct dividend rate</td></tr>
              <tr><td>08</td><td> Dividends paid by foreign corporations</td></tr>          
            </table>     
          </td>
        </tr>
    </table>
    <hr>
    <table>
      <tr>
        <td class="rotate">
          <span>Dividend</span>
        </td>
        <td>
          <table>
            <tr><td>06</td><td> Dividends paid by U.S. corporations—general</td></tr>
            <tr><td>07</td><td> Dividends qualifying for direct dividend rate</td></tr>
            <tr><td>08</td><td> Dividends paid by foreign corporations</td></tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <table>
        <tr>
          <td class="rotate">
            <span>Dividend</span>
          </td>
          <td>
            <table>
              <tr><td>34</td><td> Substitute payment—dividends</td></tr>
              <tr><td>40</td><td> Other dividend equivalents under IRC section 871(m)
              (formerly 871(l))</td></tr>
              <tr><td>52</td><td> Dividends paid on certain actively traded or publicly offered securities1</td></tr>
              <tr><td>53</td><td>  Substitute payments-dividends from certain actively traded or publicly offered securities1</td></tr>
            </table>
          </td>
        </tr>
    </table>
    <hr>
    <table>
        <tr>
          <td class="rotate">
            <span>Other</span>
          </td>
          <td>
            <table>
              <tr><td>09</td><td> Capital gains</td><td> 
              <tr><td>10</td><td> Industrial royalties</td><td> </td><td> 
              <tr><td>11</td><td> Motion picture or television copyright royalties 12 Other royalties (for example, copyright, software,broadcasting, endorsement payments)</td><td> 
              <tr><td>13</td><td> Royalties paid on certain publicly offered securities1</td><td> 
              <tr><td>14</td><td> Real property income and natural resources royalties</td><td> 
              <tr><td>15</td><td> Pensions, annuities, alimony, and/or insurance premiums 16 Scholarship or fellowship grants</td><td> 
              <tr><td>17</td><td> Compensation for independent personal services2</td><td> 
              <tr><td>18</td><td> Compensation for dependent personal services2</td><td> 
              <tr><td>19</td><td> Compensation for teaching2</td></tr>
            </table>
          </td>
        </tr>
    </table>


  </div>
</div>
<hr>
<div class="row">
  <div class="small-desc col-md-12 ">
    1 This code should only be used if the income paid is described in Regulations section 1.1441-6(c)(2) and withholding agent has reduced the rate of withholding under an income tax treaty without the recipient providing a U.S. or foreign TIN.<br/>
    <br/>
    2 If compensation that otherwise would be covered under Income Codes 17 through 20 is directly attributable to the recipient's occupation as an artist or athlete, use Income Code 42 or 43 instead.
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <table>
          <tr>
            <td class="rotate">
              <span>Other</span>
            </td>
            <td>
              <table>
                <tr><td>20</td><td> Compensation during studying and training2</td></tr>
                <tr><td>23</td><td> Other income</td></tr>
                <tr><td>24</td><td> Qualified investment entity (QIE) distributions of capital
                gains</td></tr>
                <tr><td>25</td><td> Trust distributions subject to IRC section 1445</td></tr>
                <tr><td>26</td><td> Unsevered growing crops and timber distributions by a trust subject to IRC section 1445</td></tr>
                <tr><td>27</td><td> Publicly traded partnership distributions subject to IRC section 1446</td></tr>
                <tr><td>28</td><td> Gambling winnings3</td></tr>
                <tr><td>32</td><td> Notional principal contract income4</td></tr>
                <tr><td>35</td><td> Substitute payment—other</td></tr>
                <tr><td>36</td><td> Capital gains distributions</td></tr>
                <tr><td>37</td><td> Return of capital</td></tr>
                <tr><td>38</td><td> Eligible deferred compensation items subject to IRC section
                877A(d)(1)</td></tr>
                <tr><td>39</td><td> Distributions from a nongrantor trust subject to IRC section 877A(f)(1)</td></tr>
                <tr><td>41</td><td> Guarantee of indebtedness</td></tr>
                <tr><td>42</td><td> Earnings as an artist or athlete—no central withholding
                agreement5</td></tr>
                <tr><td>43</td><td> Earnings as an artist or athlete—central withholding agreement5</td></tr>
                <tr><td>44</td><td> Specified federal procurement payments</td></tr>
                <tr><td>50</td><td> Income previously reported under escrow procedure6</td></tr>
              </table>
            </td>
          </tr>
      </table>
      <b>Boxes 3a and 4a. Exemption Code (applies if the tax rate entered
in boxes 3b and 4b is 00.00).</b>
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
                <tr><th>Code</th><th> Authority for Exemption</th></tr>
                <tr><td>Chapter 3</td><td></td></tr>
                <tr><td>01</td><td> Effectively connected income</td></tr>
                <tr><td>02</td><td> Exempt under IRC (other than portfolio interest)</td></tr>
                <tr><td>03</td><td> Income is not from U.S. sources</td></tr>
                <tr><td>04</td><td> Exempt under tax treaty</td></tr>
                <tr><td>05</td><td> Portfolio interest exempt under IRC</td></tr>
              </table>
            </td>
          </tr>
      </table>
  </div>
  <div class="col-md-6">
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
                <tr><td>06</td><td> QI that assumes primary withholding responsibility 07 WFP or WFT</td></tr>
                <tr><td>08</td><td> U.S. branch treated as U.S. Person</td></tr>
                <tr><td>09</td><td> Territory FI treated as U.S. Person</td></tr>
                <tr><td>10</td><td> QI represents that income is exempt</td></tr>
                <tr><td>11</td><td> QSL that assumes primary withholding responsibility 12 Payee subjected to chapter 4 withholding</td></tr>
                <tr><td>22</td><td> QDD that assumes primary withholding responsibility</td></tr>
                <tr><td>13</td><td> Grandfathered payment</td></tr>
                <tr><td>14</td><td> Effectively connected income</td></tr>
                <tr><td>15</td><td> Payee not subject to chapter 4 withholding</td></tr>
                <tr><td>16</td><td> Excluded nonfinancial payment</td></tr>
                <tr><td>17</td><td> Foreign Entity that assumes primary withholding
                responsibility</td></tr>
                <tr><td>18</td><td> U.S. Payees—of participating FFI or registered deemed- compliant FFI</td></tr>
                <tr><td>19</td><td> Exempt from withholding under IGA7</td></tr>
                <tr><td>20</td><td> Dormant account8</td></tr>
                <tr><td>21</td><td> Other—payment not subject to chapter 4 withholding</td></tr>
              </table>
            </td>
          </tr>
      </table>
      <hr>
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>                
                  <tr><td>01</td><td> U.S. Withholding Agent—FI</td></tr>
                  <tr><td>02</td><td> U.S. Withholding Agent—Other</td></tr>
                  <tr><td>03</td><td> Territory FI—treated as U.S. Person</td></tr>
                  <tr><td>04</td><td> Territory FI—not treated as U.S. Person</td></tr>
                  <tr><td>05</td><td> U.S. branch—treated as U.S. Person</td></tr>
                  <tr><td>06</td><td> U.S. branch—not treated as U.S. Person</td></tr>
                  <tr><td>07</td><td> U.S. branch—ECI presumption applied</td></tr>
                  <tr><td>08</td><td> Partnership other than Withholding Foreign Partnership</td></tr>
                  <tr><td>09</td><td> Withholding Foreign Partnership</td></tr>
              </table>
            </td>
          </tr>
      </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-desc col-md-12 ">
    2 If compensation that otherwise would be covered under Income Codes 17 through 20 is directly attributable to the recipient's occupation as an artist or athlete, use Income Code 42 or 43 instead.<br/>
    <br/>
    3 Subject to 30% withholding rate unless the recipient is from one of the treaty countries listed under Gambling winnings (Income Code 28) in Pub. 515. 4 Use appropriate Interest Income Code for embedded interest in a notional principal contract.<br/>
    <br/>
    5 Income Code 43 should only be used if Letter 4492, Venue Notification has been issued by the Internal Revenue Service (otherwise use Income Code 42 for earnings as an artist or athlete). If Income Code 42 or 43 is used, Recipient Code 22 (artist or athlete) should be used instead of Recipient Code 16 (individual), 15 (corporation), or 08 (partnership other than withholding foreign partnership).<br/>
    <br/>
    6 Use only to report gross income the tax for which is being deposited in the current year because such tax was previously escrowed for chapters 3 and 4 and the withholding agent previously reported the gross income in a prior year and checked the box to report the tax as not deposited under the escrow procedure. See the instructions to this form for further explanation.<br/>
    <br/>
    7 Use only to report a U.S. reportable account or nonconsenting U.S. account that is receiving a payment subject to chapter 3 withholding.<br/>
    <br/>
    8 Use only if applying the escrow procedure for dormant accounts under Regulations section 1.1471-4(b)(6). If tax was withheld and deposited under chapter 3, do not check box 7b ("tax not deposited with IRS pursuant to escrow procedure"). You must instead enter "3" in box 3 and complete box 3b.<br/>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
                <tr><td>10</td><td> Trust other than Withholding Foreign Trust</td></tr>
                <tr><td>11</td><td> Withholding Foreign Trust</td></tr>
                <tr><td>12</td><td> Qualified Intermediary</td></tr>
                <tr><td>13</td><td> Qualified Securities Lender—Qualified Intermediary</td></tr>
                <tr><td>14</td><td> Qualified Securities Lender—Other</td></tr>
                <tr><td>15</td><td> Corporation</td></tr>
                <tr><td>16</td><td> Individual</td></tr>
                <tr><td>17</td><td> Estate</td></tr>
                <tr><td>18</td><td> Private Foundation</td></tr>
                <tr><td>19</td><td> Government or International Organization</td></tr>
                <tr><td>20</td><td> Tax Exempt Organization (Section 501(c) entities)</td></tr>
                <tr><td>21</td><td> Unknown Recipient</td></tr>
                <tr><td>22</td><td> Artist or Athlete</td></tr>
                <tr><td>23</td><td> Pension</td></tr>
                <tr><td>24</td><td> Foreign Central Bank of Issue</td></tr>
                <tr><td>25</td><td> Nonqualified Intermediary</td></tr>
                <tr><td>26</td><td> Hybrid entity making Treaty Claim</td></tr>
                <tr><td>34</td><td> U.S. Withholding Agent—Foreign branch of FI</td></tr>
                <tr><td>35</td><td> Qualified Derivatives Dealer</td></tr>
                <tr><td span="2">Pooled Reporting Codes9</td></tr>
                <tr><td>27</td><td> Withholding Rate Pool—General</td></tr>
                <tr><td>28</td><td> Withholding Rate Pool—Exempt Organization</td></tr>
                <tr><td>29</td><td> PAI Withholding Rate Pool—General</td></tr>
                <tr><td>30</td><td> PAI Withholding Rate Pool—Exempt Organization</td></tr>
                <tr><td>31</td><td> Agency Withholding Rate Pool—General</td></tr>
                <tr><td>32</td><td> Agency Withholding Rate Pool—Exempt Organization</td></tr>
                <tr><td>33</td><td> Joint account withholding rate pool</td></tr>
                <tr><td>36</td><td> Qualifying dividend equivalent offsetting payments to U.S. persons</td></tr>
                <tr><td>37</td><td> Nonqualifying dividend equivalent payments to U.S. persons—Undisclosed</td></tr>
                <tr><td>38</td><td> Other qualifying dividend equivalent offsetting payments (ECI)</td></tr>
              </table>
            </td>
          </tr>
      </table>
      <hr>
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
               <tr><td>01</td><td> U.S. Withholding Agent—FI</td></tr>
               <tr><td>02</td><td> U.S. Withholding Agent—Other</td></tr>
               <tr><td>03</td><td> Territory FI—not treated as U.S. Person</td></tr>
               <tr><td>04</td><td> Territory FI—treated as U.S. Person</td></tr>
               <tr><td>05</td><td> Participating FFI—Other</td></tr>
               <tr><td>06</td><td> Participating FFI—Reporting Model 2 FFI</td></tr>
               <tr><td>07</td><td> Registered Deemed-Compliant FFI—Reporting Model 1 FFI</td></tr>
               <tr><td>08</td><td> Registered Deemed-Compliant FFI—Sponsored Entity</td></tr>
               <tr><td>09</td><td> Registered Deemed-Compliant FFI—Other</td></tr>
               <tr><td>10</td><td> Certified Deemed-Compliant FFI—Other</td></tr>
               <tr><td>11</td><td> Certified Deemed-Compliant FFI—FFI with Low Value Accounts</td></tr>
               <tr><td>12</td><td> Certified Deemed-Compliant FFI—Nonregistering Local Bank</td></tr>
               <tr><td>13</td><td> Certified Deemed-Compliant FFI—Sponsored Entity</td></tr>
               <tr><td>14</td><td> Certified Deemed-Compliant FFI—Investment Advisor or Investment Manager</td></tr>
              </table>
            </td>
          </tr>
      </table>
  </div>
  <div class="col-md-6">
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
                <tr><td>15</td><td> Nonparticipating FFI</td></tr>
                <tr><td>16</td><td> Owner-Documented FFI</td></tr>
                <tr><td>19</td><td> Passive NFFE identifying Substantial U.S. Owners</td></tr>
                <tr><td>20</td><td> Passive NFFE with no Substantial U.S. Owners</td></tr>
                <tr><td>21</td><td> Publicly Traded NFFE or Affiliate of Publicly Traded NFFE 22 Active NFFE</td></tr>
                <tr><td>23</td><td> Individual</td></tr>
                <tr><td>24</td><td> Section 501(c) Entities</td></tr>
                <tr><td>25</td><td> Excepted Territory NFFE</td></tr>
                <tr><td>26</td><td> Excepted NFFE—Other</td></tr>
                <tr><td>27</td><td> Exempt Beneficial Owner</td></tr>
                <tr><td>28</td><td> Entity Wholly Owned by Exempt Beneficial Owners</td></tr>
                <tr><td>29</td><td> Unknown Recipient</td></tr>
                <tr><td>30</td><td> Recalcitrant Account Holder</td></tr>
                <tr><td>31</td><td> Nonreporting IGA FFI</td></tr>
                <tr><td>32</td><td> Direct reporting NFFE</td></tr>
                <tr><td>33</td><td> U.S. reportable account</td></tr>
                <tr><td>34</td><td> Nonconsenting U.S. account</td></tr>
                <tr><td>35</td><td> Sponsored direct reporting NFFE</td></tr>
                <tr><td>36</td><td> Excepted Inter-affiliate FFI</td></tr>
                <tr><td>37</td><td> Undocumented Preexisting Obligation</td></tr>
                <tr><td>38</td><td> U.S. Branch—ECI presumption applied</td></tr>
                <tr><td>39</td><td> Account Holder of Excluded Financial Account10</td></tr>
                <tr><td>40</td><td> Passive NFFE reported by FFI11</td></tr>
                <tr><td>41</td><td> NFFE subject to 1472 withholding</td></tr>
                <tr><td>50</td><td> U.S. Withholding Agent—Foreign branch of FI</td></tr>
                <tr><td span="2">Pooled Reporting Codes</td></tr>
                <tr><td>42</td><td> Recalcitrant Pool—No U.S. Indicia 43 Recalcitrant Pool—U.S. Indicia</td></tr>
                <tr><td>44</td><td> Recalcitrant Pool—Dormant Account 45 Recalcitrant Pool—U.S. Persons</td></tr>
                <tr><td>46</td><td> Recalcitrant Pool—Passive NFFEs 47 Nonparticipating FFI Pool</td></tr>
                <tr><td>48</td><td> U.S. Payees Pool</td></tr>
                <tr><td>49</td><td> QI-Recalcitrant Pool—GeneraI12</td></tr>
              </table>
            </td>
          </tr>
      </table>
      <hr>
      <table>
          <tr>
            <td class="rotate">
              <span></span>
            </td>
            <td>
              <table>
                <tr><td>01</td><td> Individual</td></tr>
                <tr><td>02</td><td> Government – contracting state/political subdivision/local authority</td></tr>
                <tr><td>03</td><td> Tax exempt pension trust/Pension fund</td></tr>
                <tr><td>04</td><td> Tax exempt/Charitable organization</td></tr>
                <tr><td>05</td><td> Publicly traded corporation</td></tr>
                <tr><td>06</td><td> Subsidiary of publicly traded corporation</td></tr>
                <tr><td>07</td><td> Company that meets the ownership and base erosion test</td></tr>
                <tr><td>08</td><td> Company that meets the derivative benefits test</td></tr>
                <tr><td>09</td><td> Company with an item of income that meets the active trade or business test</td></tr>
                <tr><td>10</td><td> Discretionary determination</td></tr>
                <tr><td>11</td><td> Other</td></tr>
              </table>
            </td>
          </tr>
      </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-desc col-md-12 ">
    9 Codes 27 through 33 should only be used by a QI (including a QI acting as a QDD), QSL, WP, or WT. Codes 36 through 38 should only be used by a QI acting as a QDD.<br />
    <br />
    10 This code should only be used if income is paid to an account that is excluded from the definition of financial account under Regulations section 1.1471-5(b)(2) or under Annex II of the applicable Model 1 IGA or Model 2 IGA.<br/>
    <br/>
    11 This code should only be used when the withholding agent has received a certification on the FFI withholding statement of a participating FFI or registered deemed- compliant FFI that maintains the account that the FFI has reported the account held by the passive NFFE as a U.S. account (or U.S. reportable account) under its FATCA requirements. The withholding agent must report the name and GIIN of such FFA in boxes 15d and 15e.<br/>
    <br/>
    12 This code should only be used by a withholding agent that is reporting a payment (or portion of a payment) made to a QI with respect to the QI's recalcitrant account holders.<br/>
    <br/>
  </div>
</div>
<!-- ******************************** -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

