<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<div class="row">
                          <div class="rel col-lg-12">
                             <div>
                                Important Notes:
<br/><br/>
Please enter a data for the first left field  in three lines. A first line should contain your name, second line the address , third line should contain City , State code and ZIP in that order.<br/>
Identification numbers (Federal ID) should contain only numbers.<br/>
All fields where you enter money amounts should contain only amounts without USD or $ sign.<br/>
In 'City or town, state or province ...' field you should enter shareholder's city then state code then zip code in that order.<br/>
                              </div>
                             <form id="form1" action="/form/save">
                        <!-- Label part -->
                            <div id="label-container">
                              Filing Company:
                              <%= select_tag(:label, options_for_select(@labels,@form_fields['label']),{id: "label", class: "form-control"} )%>
                              <div  id="label-other-container"> Please enter a new label:&nbsp;&nbsp;
                                  <div class="input-group">
                                    <input id="label-other"  class ="form-control" type="text" name="label_other" value="">
                                    
                                  </div>
                              </div>
                            </div>
                            <div id="labels-colors">
                                <% @colors_array.each do |color| %>
                                <% if @form_fields['label'] == color[0] 
                                      @additional_style = ' display:block;' 
                                   else 
                                      @additional_style = ''
                                   end %>
                               
                                <% end %>
                            </div>
                            <div class="clear">&nbsp;</div>
                        <!-- end label parts -->  
                                <div id="fields-container" class="form1099cap">
                                   <img width="100%" src="/media/1099cap.png" />
                                    <!-- fields -->
                                    <textarea required="true" class="abs" style="top: 14%;left: 2%;width: 44%;height: 19%;" name="corporations_name_address"><%= @form_fields['corporations_name_address']%></textarea>
                                    <input required="true" class="abs" style="top: 39%;left: 2%;width: 21%;height: 5%;" name="corporations_fin" value="<%= @form_fields['corporations_fin']%>" type="text" data-toggle="tooltip" title="Enter the valid nine-digit taxpayer identification number assigned to the corporation. Do not enter blanks, hyphens, or alpha characters. Filling the field with all zeros, ones, twos, etc., will result in an incorrect data" pattern="\d{9}">
                                    <input required="true" class="abs" style="top: 39%;left: 25%;width: 21%;height: 5%;" name="shareholders_id" value="<%= @form_fields['shareholders_id']%>" type="text" data-toggle="tooltip" title="Enter the valid nine-digit taxpayer identification number assigned to the shareholders. Do not enter blanks, hyphens, or alpha characters. Filling the field with all zeros, ones, twos, etc., will result in an incorrect data" pattern="\d{9}">
                                    <input required="true" class="abs" style="top: 49%;left: 2%;width: 44%;height: 9%;" name="shareholders_name" value="<%= @form_fields['shareholders_name']%>" type="text">
                                    <input required="true" class="abs" style="top: 63%;left: 2%;width: 44%;height: 5%;" name="street_address" value="<%= @form_fields['street_address']%>" type="text">
                                    <input required="true" class="abs" style="top: 72.5%;left: 2%;width: 44%;height: 5%;" name="city_or_town" value="<%= @form_fields['city_or_town']%>" type="text">
                                    <input required="true" class="abs" style="top: 82%;left: 2%;width: 44%;height: 5%;" name="account_number" value="<%= @form_fields['account_number']%>" type="text">
                                    
                <input type="text" required="true" readonly class="datepicker abs" name="1" value="<%= @form_fields['1']%>" style="top: 10%;left: 48%;width: 17%;height: 5%;">
                                    <input required="true" class="abs" style="top: 20%;left: 49%;width: 16%;height: 5%;" name="2" value="<%= @form_fields['2']%>" type="number">
                                    <input required="true" class="abs" style="top: 29%;left: 47%;width: 18%;height: 5%;" name="3" value="<%= @form_fields['3']%>" type="text">
                                  
                <input type="text" required="true" readonly class="datepicker abs" name="4" value="<%= @form_fields['4']%>" style="top: 29%;left: 66%;width: 18%;height: 5%;">
                                    <input required="true" class="abs" style="top: 65%;left: 48%;width: 35%;height: 13%;" name="5" value="<%= @form_fields['5']%>" type="text">
                                    <button class="btn btn-primary fixed-button" type="submit">Save Form</button>

                                  <!-- fields -->
                                    
                                    <input type="hidden" name="unique_id" value="<%= @form_fields['unique_id'] %>">
                                    <input type="hidden" name="form_id" value="1099cap"> 
                                </div><!-- fields-container -->
                              </form>
                              
                          </div>
                          
                  </div>
                  <!-- /.row -->
<script>
jQuery('.datepicker').datepicker({
    dateFormat: "yymmdd"
  });
</script>